p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
}
ul{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 450;
    text-align: center;
}
nav{
    color: black;
    background-color: khaki;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: center; margin-left: 20%; margin-right: 20%;
    border-style: solid; padding: 5px;
}
img{
    display: block;
 margin: 0px auto;
}
table{
    display: block;
    margin: 0px auto;
}
form{
    padding: 5px;
    background-color: rgb(247, 235, 218);
    font-style: italic;
    border-style: solid;
    font-weight: 300;
    text-align: center;
    width: 50%;
    display: inline-block;
    display: block;
    margin: 0px auto
}
input[type=button] {
    color: black;
    background-color: darkkhaki;
    padding: 5px;
}
input[type=button]:hover{
    border-style: double;
    background-color: cornflowerblue;
}
body{
    background-color: beige;
}

h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
    
}
h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    text-decoration:underline
}
h3{
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
        text-align: center;
    }
    h4 {
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 300;
        text-align: center;
    }
    h5 {
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-weight: 300;
        text-align: center;
    }
    #div1{
    }
    #div2{ background-color: salmon;
        max-width: 600px;
        margin: 0 auto;
    
    }
    #div3{
        }
    #div4{ background-color: steelblue;
        max-width: 800px;
        margin: 0 auto;
    }
    iframe {
        display: block;
        margin: auto;
    }
   