/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgba(123, 110, 95, 0.631);
}

h2 {
    text-align: center;
    margin-top: 140px;
}

h3 {
    text-align: center;
    margin: 20px auto;
}

h4 {
    text-align: center;
    margin: 20px auto;
}

/* Home Page */ 

a:link, a:visited {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

#firstBtn {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    margin-left: 32.5%;
}

#secondBtn {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
}

#thirdBtn {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
}

#fourthBtn {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    margin-left: 32.5%;
}

#fifthBtn {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
}

#sixthBtn {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
}

#firstBtn:hover {
    background: #5c6ce3;
}

#secondBtn:hover {
    background: #ffae00;
}

#thirdBtn:hover {
    background: hsl(120, 95%, 46%);
}

#fourthBtn:hover {
    background-image: url("images/4H.png");
}

#fifthBtn:hover {
    background-image: url("images/5D.png");
}

#sixthBtn:hover {
    background-image: url("images/6H.png");
}

/* Board Menu & Content */

.data {
    background-color: rgb(237, 237, 237);
    border: 4px solid black;
    width: 300px;
    height: 45px;
    margin: auto;
}

.data, .score {
    display: flex;
    margin: auto;
    font-size: 22px;
    font-style: none;
}

.dropbtn {
    background-color: #3a332cf4;
    color: rgb(237, 237, 237);
    height: 100%;
    width: 100px;
    font-size: 18px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    font-size: 16px;
    background-color: rgb(237, 237, 237);
    min-width: 100%;
    z-index: 1;
    border: 3px black solid;
  }

.dropdown-content a {
    color: black;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
    color: rgb(237, 237, 237);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* 4 x 4 */

.grid-4x4 {
    border: 4px solid black;
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    height: 480px;
    margin: 15px auto;
    padding: 30px;
    perspective: 1000px;
}

.color-grid-4x4 {
    border: 4px solid black;
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 420px;
    height: 420px;
    margin: 15px auto;
    padding: 15px;
    perspective: 1000px;
}

.four-memory-card {
    position: relative;
    width: 25%;
    height: 25%;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.four-memory-card:active {
    transform: scale(.80);
    transition: transform .5s;
}

.four-memory-card.flip {
    transform: rotateY(180deg);
}


/* 4 x 5 */

.grid-4x5 { 
    border: 4px solid black;
    background-color: rgb(237, 237, 237);
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    padding: 30px;
    perspective: 1000px;
}

.color-grid-4x5 { 
    border: 4px solid black;
    background-color: rgb(237, 237, 237);
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    height: 460px;
    padding: 10px;
    perspective: 1000px;
}

.five-memory-card {
    position: relative;
    width: 20%;
    height: 20%;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.five-memory-card:active {
    transform: scale(.80);
    transition: transform .5s;
}

.five-memory-card.flip {
    transform: rotateY(180deg);
}

/* 4 x 6 */

.grid-4x6 { 
    border: 4px solid black;
    background-color: rgb(237, 237, 237);
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
    height: 550px;
    padding: 30px;
    perspective: 1000px;
}

.color-grid-4x6 { 
    border: 4px solid black;
    background-color: rgb(237, 237, 237);
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 600px;
    height: 550px;
    padding: 15px;
    perspective: 1000px;
}

.six-memory-card {
    position: relative;
    width: 16%;
    height: 16%;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.six-memory-card:active {
    transform: scale(.80);
    transition: transform .5s;
}

.six-memory-card.flip {
    transform: rotateY(180deg);
}

/* Unique Cards */

.back-face, .front-face {
    position: absolute;
    padding: 10px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}
